body {
  margin: 0;
}
.container {
  display: flex;
  padding-top: 1%;
  justify-content: space-evenly;
}

/* ---------------------------- */

/* menu-section */
.left-menu {
  width: 132px;
  height: 853.12px;
  background-color: black;
  border-radius: 24px;
  text-align: center;
}
.left-menu-responsive {
  display: none;
}
.F-icon {
  margin-top: 50px;
}
.home-icon {
  margin-top: 90px;
}
.icon-item {
  margin-top: 60px;
}
.icon-last {
  margin-top: 210px;
}

/* ---------------------------- */

/* header-section */
.header {
  position: relative;
  width: 100%;
  height: 191.25px;
  background-color: white;
}
.header-rectangle {
  position: absolute;
  width: 100%;
  height: 160px;
  background: #f5f5f7;
  border-radius: 14px;
  bottom: 0px;
}
h1,
h2,
h3 {
  font-family: "Baloo Bhai", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.hello {
  color: #000000;
  font-family: "Baloo Bhai", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  margin-bottom: 0px;
  margin-top: 1rem;
}

.to-see {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  width: 60%;
}
.header-content {
  margin-left: 10%;
}
.illustration {
  position: absolute;
  left: 60.07%;
}
/* ---------------------------- */

/* my-course-section */
.my-course {
  margin-top: 0.5rem;
  height: 90px;
  width: 100%;
  top: 220.34px;
  display: flex;
  justify-content: space-between;
}

.my-course-rectangle {
  height: 90px;
  width: 90%;
  background-color: #f5f5f7;
  border-radius: 14px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.group23 img {
  bottom: 0;
}
.my-course-content {
  font-size: 20px;
  margin-left: -2.5rem;
}
.spanish {
  font-family: "Baloo Bhai", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}
.my-course-eclipse {
  position: relative;
  text-align: center;
  padding-top: 4px;
}
.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 130px;
  height: 45px;
  background: #000000;
  border-radius: 8px;
  font-size: 20px;
  color: white;
}
.arrow {
  display: flex;
  align-items: center;
  height: auto;
}
.arrow img {
  margin-left: 15px;
}
/* ---------------------------- */
.middle-content {
  width: 45%;
}
/* ---------------------------- */

/* course-section */
.course-section {
  height: auto;
  background-color: white;
  width: 100%;
  margin-top: 2rem;
  font-size: 20px;
}
h1,
h2 {
  margin-bottom: 10px;
}
.head-tab,
.statistic-section-heading {
  display: flex;
  font-family: "Baloo Bhai", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
  margin-bottom: 1rem;
}
.head-tab div:not(:first-child),
.statistic-section-heading div:not(:first-child, :last-child) {
  opacity: 0.3;
}
.head-tab div,
.statistic-section-heading div:not(:last-child) {
  margin-right: 31px;
}
.view-tab {
  height: 90px;
  background-color: #f5f5f7;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 14px;
}
.view-tab img {
  width: 1.5rem;
}
.tab-icon-1 img {
  width: 50%;
}
.tab-icon-1,
.group23 {
  display: flex;
  background-color: white;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.tab-content {
  width: 26%;
}
.tab-title {
  font-family: "Baloo Bhai", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}
.tab-time,
.tab-rated {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.duration {
  text-align: left;
  padding-top: 3px;
  padding-left: 7px;
  width: 6rem;
}
.rated {
  padding-top: 6.5px;
  padding-left: 7px;
}
/* right content */

.right-content {
  background-color: white;
  width: 30%;
  position: relative;
}
/* ---------------------------- */

/* search-section */
.search {
  height: 43px;
  width: 100%;
  background-color: white;
  align-items: center;
  display: flex;
}
.search input {
  height: 100%;
  width: 70%;
  background-color: #f5f5f7;
  border-style: none;
  border-radius: 8px;
}
.search img {
  position: absolute;
  margin-left: 15px;
}
#notifi {
  right: 80px;
}
#avatar {
  right: 15px;
  width: 3rem;
}
#dropdown-icon {
  right: 0;
}
/* ---------------------------- */

/* course-status-section */
.course-status {
  display: flex;
  justify-content: space-between;

  margin-top: 2rem;
}
.course-comleted {
  margin-right: 8%;
}
.course-comleted,
.course-progress {
  width: 50%;
  height: 106.05px;
  background-color: #f5f5f7;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
}
.course-status .content div {
  font-size: 70px;
  font-weight: 500;
  font-family: "Baloo Bhai", sans-serif;
}
.course-status .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-status p {
  font-size: 20px;
  padding-left: 1rem;
}

/* ---------------------------- */

/* statistic-section */

.statistic-section {
  height: auto;
  width: 100%;
}
.statistic-section-heading {
  display: flex;
  height: 2rem;
  justify-content: space-between;
}
.statistic-section-table {
  height: auto;
}
.statistic-section-table img {
  width: 105%;
  height: auto;
}
.weekly {
  background-color: #f5f5f7;
  width: auto;
  height: auto;
  color: black;
  font-size: 15px;
  width: 5rem;
  justify-content: center;
  border-radius: 8px;
  align-items: center;
  display: flex;
}
.weekly img {
  margin-left: 5px;
}

/* ---------------------------- */

/* premium-section */
.premium {
  background-color: #f5f5f7;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 3rem;
  border-radius: 16px;
}
.learn-even-more {
  margin-left: 5%;
  align-items: left;
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 20px;
}
.premium .content {
  font-size: 22px;
  width: 15rem;
}
.premium .button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.premium-icon {
  display: flex;
}
.premium img {
  width: 10rem;
}
